<launch>
<machine name="Turt_Bot1" address="192.168.0.150" env-loader="/home/pi/catkin_ws/env.sh" user="pi" default="false"/>
<machine name="Turt_Bot2" address="192.168.0.151" env-loader="/home/pi/catkin_ws/env.sh" user="pi" default="false"/>
<machine name="Turt_Bot3" address="192.168.0.152" env-loader="/home/pi/catkin_ws/env.sh" user="pi" default="false"/>
<machine name="Turt_Bot4" address="192.168.0.153" env-loader="/home/pi/catkin_ws/env.sh" user="pi" default="false"/>
<machine name="Turt_Bot5" address="192.168.0.154" env-loader="/home/pi/catkin_ws/env.sh" user="pi" default="false"/>


<!-- <group ns="tbt0">

<node machine="Turt_Bot1" name = "conveyor_control" pkg="conveyor_control" type="conv_sensor.py" output="screen"/>
</group> -->

<!-- <group ns="tbt1">

  <node machine="Turt_Bot2" name = "conveyor_control" pkg="conveyor_control" type="conv_sensor.py" output="screen"/>
</group> -->

<!-- <group ns="tbt2">

<node machine="Turt_Bot3" name = "conveyor_control" pkg="conveyor_control" type="conv_sensor_first.py" output="screen"/>
</group> -->


<!-- <group ns="tbt3">

  <node machine="Turt_Bot4" name = "conveyor_control" pkg="conveyor_control" type="conv_sensor.py" output="screen"/>
</group> -->



<group ns="tbt4">

  <node machine="Turt_Bot5" name = "conveyor_control" pkg="conveyor_control" type="conv_sensor.py" output="screen"/>
</group>

</launch>
