<launch>
  <machine name="Turt_Bot1" address="192.168.0.111" env-loader="/home/pi/catkin_ws/env.sh" user="pi" default="false"/>
  <node machine="Turt_Bot1" name = "conveyor_control_1" pkg="conveyor_control" type="conv_sensor.py" output="screen"/>

  <machine name="Turt_Bot2" address="192.168.0.109" env-loader="/home/pi/catkin_ws/env.sh" user="pi"/>
  <node machine="Turt_Bot2" name = "conveyor_control_2" pkg="conveyor_control" type="conv_sensor.py" output="screen"/>

  <machine name="Turt_Bot3" address="192.168.0.110" env-loader="/home/pi/catkin_ws/env.sh" user="pi" default="false"/>
  <node machine="Turt_Bot3" name = "conveyor_control_3" pkg="conveyor_control" type="conv_sensor.py" output="screen"/>

<!-- <machine name="Turt_Bot4" address="192.168.0.108" env-loader="/home/pi/catkin_ws/env.sh" user="pi" />
 <node machine="Turt_Bot4" name = "conveyor_control_4" pkg="conveyor_control" type="conv_sensor_first.py" output="screen"/> -->

</launch>
